
  <div>
    <div>
      <div class="task-area" data-task-id="F8C4F7FC-B4C0-45E0-964D-061CC68E7FDE" data-id="1">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение от 08.07.2013, Не начато</div>
            </div>
            <div class="task-date">08.07.2013 21:04</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Администраторов А. А.</div>
            <div class="task-author-position">Администратор системы</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="10.07.2013">10.07.2013</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="ТЕСТ">ТЕСТ</div>


        <div class="task-files-area">

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="C8FB393C-557F-49B6-A92A-FCCB71E6B0C7" data-id="42">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение от 08.07.2013, Не начато</div>
            </div>
            <div class="task-date">08.07.2013 21:02</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Администраторов А. А.</div>
            <div class="task-author-position">Администратор системы</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="10.07.2013">10.07.2013</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="ТЕСТ">ТЕСТ</div>


        <div class="task-files-area">

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="17880BAA-ED0D-48B0-80C5-238BCDC563FA" data-id="4">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение от 08.07.2013, Не начато</div>
            </div>
            <div class="task-date">08.07.2013 20:59</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Администраторов А. А.</div>
            <div class="task-author-position">Администратор системы</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="11.07.2013">11.07.2013</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="ТЕСТ 2">ТЕСТ 2</div>


        <div class="task-files-area">

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="5D0A6F89-B21E-44ED-B9ED-0647DAE5AE70" data-id="2">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение от 08.07.2013, Не начато</div>
            </div>
            <div class="task-date">08.07.2013 20:58</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Администраторов А. А.</div>
            <div class="task-author-position">Администратор системы</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="10.07.2013">10.07.2013</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="тест123">тест123</div>


        <div class="task-files-area">

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="61D67029-791C-4220-A88A-9500DD8FA2CB" data-id="20">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Рассмотрение служебной записки №Idoc-56 от 22.04.2013, Не начато</div>
            </div>
            <div class="task-date">22.04.2013 15:44</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Правский И.</div>
            <div class="task-author-position">Исполнительный директор</div>
          </div>

        </div>
        <div class="task-content" data-value="Вам надо рассмотреть служебную записку № Idoc-56

  Тема:
  | Сохранение СЗ в Проекте
  Содержание:
  | Сохранение СЗ в Проекте

  ">Вам надо рассмотреть служебную записку № Idoc-56<br>
  Тема:
  | Сохранение СЗ в Проекте
  Содержание:
  | Сохранение СЗ в Проекте

  </div>


          <div class="task-document-area">
            <div class="header">По документу</div>
            <div class="task-document" data-id="625B29C7-B3E1-43D1-A220-AA28E639765C" data-name="Служебная записка №Idoc-56 от 22.04.2013">Служебная записка №Idoc-56 от 22.04.2013</div>
          </div>

        <div class="task-files-area">

          <a href="/file/AB5BE88C-BE51-4112-8C27-C6D45241F052" target="_blank" class="task-file-ref" data-value="AB5BE88C-BE51-4112-8C27-C6D45241F052" data-name="Проект документа.doc">Проект документа.doc</a>

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="D4ED6993-B92F-45FC-AC4B-398702F75172" data-id="10">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Регистрация служебной записки , Не начато</div>
            </div>
            <div class="task-date">22.04.2013 14:41</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Реуцкий С.</div>
            <div class="task-author-position">Сотрудник</div>
          </div>

        </div>
        <div class="task-content" data-value="Ваша служебная записка подписана.
  1. Распечатайте её с регистрационным номером и датой регистрации.
  2. Подпишите оригинал служебной записки.
  3. Приложите скан-копию служебной записки к карточке документа.
  4. Нажмите кнопку «Завершить».">Ваша служебная записка подписана.<br>1. Распечатайте её с регистрационным номером и датой регистрации.
  2. Подпишите оригинал служебной записки.
  3. Приложите скан-копию служебной записки к карточке документа.
  4. Нажмите кнопку «Завершить».</div>


          <div class="task-document-area">
            <div class="header">По документу</div>
            <div class="task-document" data-id="DCEF27A4-445B-4460-975F-3DCE27848F2B" data-name="Служебная записка №Ан-54 от 22.04.2013">Служебная записка №Ан-54 от 22.04.2013</div>
          </div>

        <div class="task-files-area">

          <a href="/file/974F7DEC-F273-4EDF-99AD-DBF1123CAE9F" target="_blank" class="task-file-ref" data-value="974F7DEC-F273-4EDF-99AD-DBF1123CAE9F" data-name="Проект документа.doc">Проект документа.doc</a>

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="C09DC8D5-2F49-4A8E-943A-41F4D8113500" data-id="11">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Рассмотрение служебной записки №Idoc-52 от 16.04.2013, Не начато</div>
            </div>
            <div class="task-date">16.04.2013 12:28</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Правский И.</div>
            <div class="task-author-position">Исполнительный директор</div>
          </div>

        </div>
        <div class="task-content" data-value="Вам надо рассмотреть служебную записку № Idoc-52

  Тема:
  | Автор=Исполнитель=Подписант
  Содержание:
  | Автор=Исполнитель=Подписант

  ">Вам надо рассмотреть служебную записку № Idoc-52<br>
  Тема:
  | Автор=Исполнитель=Подписант
  Содержание:
  | Автор=Исполнитель=Подписант

  </div>


          <div class="task-document-area">
            <div class="header">По документу</div>
            <div class="task-document" data-id="15E5DD61-5200-42E0-9BF9-0326D021D586" data-name="Служебная записка №Idoc-52 от 16.04.2013">Служебная записка №Idoc-52 от 16.04.2013</div>
          </div>

        <div class="task-files-area">

          <a href="/file/3D01E4B9-D9F9-441F-ACD4-EE97C3C5F91A" target="_blank" class="task-file-ref" data-value="3D01E4B9-D9F9-441F-ACD4-EE97C3C5F91A" data-name="Проект документа.doc">Проект документа.doc</a>

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="ED7E9F4C-3440-411F-864A-9FDEBFA28119" data-id="22">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Рассмотрение служебной записки №Idoc-47 от 10.04.2013, Не начато</div>
            </div>
            <div class="task-date">10.04.2013 14:35</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Правский И.</div>
            <div class="task-author-position">Исполнительный директор</div>
          </div>

        </div>
        <div class="task-content" data-value="Вам надо рассмотреть служебную записку № Idoc-47

  Тема:
  | Дублируется запись о подписании в Истории согласования СЗ, если Автор=Исполнитель=Подписант
  Содержание:
  | Дублируется запись о подписании в Истории согласования СЗ, если Автор=Исполнитель=Подписант">Вам надо рассмотреть служебную записку № Idoc-47<br>
  Тема:
  | Дублируется запись о подписании в Истории согласования СЗ, если Автор=Исполнитель=Подписант
  Содержание:
  | Дублируется запись о подписании в Истории согласования СЗ, если Автор=Исполнитель=Подписант</div>


          <div class="task-document-area">
            <div class="header">По документу</div>
            <div class="task-document" data-id="41CAE7E3-B5E3-48A0-92F6-F1F6A449C95E" data-name="Служебная записка №Idoc-47 от 10.04.2013">Служебная записка №Idoc-47 от 10.04.2013</div>
          </div>

        <div class="task-files-area">

          <a href="/file/1349EAE5-D8D7-48C9-8B0A-3930E8A1CBC3" target="_blank" class="task-file-ref" data-value="1349EAE5-D8D7-48C9-8B0A-3930E8A1CBC3" data-name="Проект документа.doc">Проект документа.doc</a>

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="B743CE8A-3298-44CE-8F95-A12F3C6703E8" data-id="24">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Рассмотрение служебной записки №Разр-34 от 22.03.2013, Не начато</div>
            </div>
            <div class="task-date">22.03.2013 15:40</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Иванов И.</div>
            <div class="task-author-position">Сотрудник</div>
          </div>

        </div>
        <div class="task-content" data-value="Вам надо рассмотреть служебную записку № Разр-34

  Тема:
  | СЗ с регистрацией, 1.54.153.1
  Содержание:
  | СЗ с регистрацией, 1.54.153.1

  ">Вам надо рассмотреть служебную записку № Разр-34<br>
  Тема:
  | СЗ с регистрацией, 1.54.153.1
  Содержание:
  | СЗ с регистрацией, 1.54.153.1

  </div>


          <div class="task-document-area">
            <div class="header">По документу</div>
            <div class="task-document" data-id="3E111CBC-E2AE-4934-95D6-D9AB272C71F2" data-name="Служебная записка №Разр-34 от 22.03.2013">Служебная записка №Разр-34 от 22.03.2013</div>
          </div>

        <div class="task-files-area">

          <a href="/file/E6A3B088-C272-492E-863B-8AF5E73105CB" target="_blank" class="task-file-ref" data-value="E6A3B088-C272-492E-863B-8AF5E73105CB" data-name="Проект документа.doc">Проект документа.doc</a>

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="9BBD6ABF-F81F-466B-820B-EAF3E2CC3BE2" data-id="34">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение от 08.02.2013, Не начато</div>
            </div>
            <div class="task-date">08.02.2013 00:06</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Иванов И.</div>
            <div class="task-author-position">Сотрудник</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="15.02.2013">15.02.2013</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="Поручение по кнопке Создать, 1.54.180.3">Поручение по кнопке Создать, 1.54.180.3</div>


        <div class="task-files-area">

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="D73278FF-599B-48A0-BC26-F99FE3501D6D" data-id="40">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение, Не начато</div>
            </div>
            <div class="task-date">07.02.2013 12:42</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Правский И.</div>
            <div class="task-author-position">Исполнительный директор</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="08.02.2013">08.02.2013</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="Вам поступил входящий документ № 1/49 от 06.02.2013

  Содержание документа:
  ВД по кнопке Создать, 1.54.180.2">Вам поступил входящий документ № 1/49 от 06.02.2013<br>
  Содержание документа:
  ВД по кнопке Создать, 1.54.180.2</div>

          <div class="task-controler-area">
            <div class="header">Контролер</div>
            <div class="task-controler-name">Правский И.</div>

              <div class="task-controler-position">Исполнительный директор</div>

          </div>


          <div class="task-document-area">
            <div class="header">По документу</div>
            <div class="task-document" data-id="FFDA84D8-6BFA-4FC9-B839-B835A33C4EB5" data-name="Входящий документ №1/49 от 06.02.2013">Входящий документ №1/49 от 06.02.2013</div>
          </div>

        <div class="task-files-area">

          <a href="/file/12694799-E167-423F-9CF6-C7D69EA286A0" target="_blank" class="task-file-ref" data-value="12694799-E167-423F-9CF6-C7D69EA286A0" data-name="Пустой документ.docx">Пустой документ.docx</a>

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="C2EAABCA-0E2B-4CE5-A253-EBEC1F898C5C" data-id="35">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение от 07.02.2013, Не начато</div>
            </div>
            <div class="task-date">07.02.2013 12:40</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Богданов Д.</div>
            <div class="task-author-position">Сотрудник</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="08.02.2013">08.02.2013</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="Уведомление по почте при установленном замещении">Уведомление по почте при установленном замещении</div>


        <div class="task-files-area">

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="07CCD2AE-4FE9-410C-A48C-AF9AEF024F48" data-id="25">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение от 28.01.2013, Не начато</div>
            </div>
            <div class="task-date">28.01.2013 23:37</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Администраторов А. А.</div>
            <div class="task-author-position">Администратор системы</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="29.01.2013">29.01.2013</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="Проверка прав на поручение">Проверка прав на поручение</div>


        <div class="task-files-area">

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="4CA429D3-A082-4F4E-AEE0-879766FA4D25" data-id="15">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение, Не начато</div>
            </div>
            <div class="task-date">22.01.2013 23:20</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Реуцкий С.</div>
            <div class="task-author-position">Сотрудник</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="23.01.2013">23.01.2013</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="Вам надо рассмотреть служебную записку № Разр-7

  Тема:
  | Регресс - 1.54.178
  Содержание:
  | Регресс - 1.54.178

  ">Вам надо рассмотреть служебную записку № Разр-7<br>
  Тема:
  | Регресс - 1.54.178
  Содержание:
  | Регресс - 1.54.178

  </div>

          <div class="task-controler-area">
            <div class="header">Контролер</div>
            <div class="task-controler-name">Реуцкий С.</div>

              <div class="task-controler-position">Сотрудник</div>

          </div>


          <div class="task-document-area">
            <div class="header">По документу</div>
            <div class="task-document" data-id="A43C5C28-5BCB-4552-816A-2E11261113E2" data-name="Служебная записка №Разр-7 от 22.01.2013">Служебная записка №Разр-7 от 22.01.2013</div>
          </div>

        <div class="task-files-area">

          <a href="/file/F5110E8E-5B79-4147-87C8-97D3D05728CB" target="_blank" class="task-file-ref" data-value="F5110E8E-5B79-4147-87C8-97D3D05728CB" data-name="Проект документа.doc">Проект документа.doc</a>

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="21BD32FD-75F0-4431-90A3-FDB62621F91F" data-id="43">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение от 20.01.2013, Не начато</div>
            </div>
            <div class="task-date">20.01.2013 23:28</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Правский И.</div>
            <div class="task-author-position">Исполнительный директор</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="21.01.2013">21.01.2013</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="Уведомление на почту после перерыва">Уведомление на почту после перерыва</div>

          <div class="task-controler-area">
            <div class="header">Контролер</div>
            <div class="task-controler-name">Администраторов А. А.</div>

              <div class="task-controler-position">Администратор системы</div>

          </div>


        <div class="task-files-area">

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="6043F389-2B81-43A5-91AC-E23292C33A08" data-id="32">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение от 19.01.2013, Не начато</div>
            </div>
            <div class="task-date">19.01.2013 10:33</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Администраторов А. А.</div>
            <div class="task-author-position">Администратор системы</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="23.01.2013">23.01.2013</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="Уведомления на почту">Уведомления на почту</div>


        <div class="task-files-area">

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="DAD74863-BD6C-4CE1-9F78-9065B7086FF6" data-id="17">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение от 17.01.2013, Не начато</div>
            </div>
            <div class="task-date">17.01.2013 22:29</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Реуцкий С.</div>
            <div class="task-author-position">Сотрудник</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="18.01.2013">18.01.2013</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="Администаротов - заместитель Сидоренкова">Администаротов - заместитель Сидоренкова</div>


        <div class="task-files-area">

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="45AB0725-1372-4A39-AF17-26DA828D8E0B" data-id="6">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение, Не начато</div>
            </div>
            <div class="task-date">18.12.2012 15:16</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Правский И.</div>
            <div class="task-author-position">Исполнительный директор</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="19.12.2012">19.12.2012</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="никто не открывает
  ">никто не открывает<br></div>

          <div class="task-controler-area">
            <div class="header">Контролер</div>
            <div class="task-controler-name">Правский И.</div>

              <div class="task-controler-position">Исполнительный директор</div>

          </div>


          <div class="task-document-area">
            <div class="header">По документу</div>
            <div class="task-document" data-id="2690FB24-10F5-451B-A593-9E4BA5FD1A87" data-name="Служебная записка №Idoc-26 от 08.11.2012">Служебная записка №Idoc-26 от 08.11.2012</div>
          </div>

        <div class="task-files-area">

          <a href="/file/6B197064-7A21-4424-8E10-D70C784996DB" target="_blank" class="task-file-ref" data-value="6B197064-7A21-4424-8E10-D70C784996DB" data-name="Проект документа.doc">Проект документа.doc</a>

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="E109C3CF-316D-4273-9F65-C8819B789910" data-id="28">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение, Не начато</div>
            </div>
            <div class="task-date">18.12.2012 14:19</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Правский И.</div>
            <div class="task-author-position">Исполнительный директор</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="19.12.2012">19.12.2012</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="открываю захаровым, должен не прописаться Реуцкий
  ">открываю захаровым, должен не прописаться Реуцкий<br></div>

          <div class="task-controler-area">
            <div class="header">Контролер</div>
            <div class="task-controler-name">Правский И.</div>

              <div class="task-controler-position">Исполнительный директор</div>

          </div>


          <div class="task-document-area">
            <div class="header">По документу</div>
            <div class="task-document" data-id="2690FB24-10F5-451B-A593-9E4BA5FD1A87" data-name="Служебная записка №Idoc-26 от 08.11.2012">Служебная записка №Idoc-26 от 08.11.2012</div>
          </div>

        <div class="task-files-area">

          <a href="/file/6B197064-7A21-4424-8E10-D70C784996DB" target="_blank" class="task-file-ref" data-value="6B197064-7A21-4424-8E10-D70C784996DB" data-name="Проект документа.doc">Проект документа.doc</a>

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="91DA02A4-074D-44E5-81ED-2DCEC15FA476" data-id="7">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение от 18.12.2012, Не начато</div>
            </div>
            <div class="task-date">18.12.2012 13:07</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Правский И.</div>
            <div class="task-author-position">Исполнительный директор</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="19.12.2012">19.12.2012</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="Поручение с соисполнителями из поручения, найденного по штрих-коду
  Соисполнители - Захаров, иванов, Сидоренков, Администраторов
  ">Поручение с соисполнителями из поручения, найденного по штрих-коду<br>Соисполнители - Захаров, иванов, Сидоренков, Администраторов
  </div>

          <div class="task-controler-area">
            <div class="header">Контролер</div>
            <div class="task-controler-name">Реуцкий С.</div>

              <div class="task-controler-position">Сотрудник</div>

          </div>


        <div class="task-files-area">

          <a href="/file/69092639-36A5-4223-AC3D-1E1B52547F4F" target="_blank" class="task-file-ref" data-value="69092639-36A5-4223-AC3D-1E1B52547F4F" data-name="Проект документа.doc">Проект документа.doc</a>

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="7F858B71-032D-406C-BE98-E2ADFD62BB47" data-id="33">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение, Не начато</div>
            </div>
            <div class="task-date">14.12.2012 11:34</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Правский И.</div>
            <div class="task-author-position">Исполнительный директор</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="14.12.2012">14.12.2012</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="3 соисполнителя">3 соисполнителя</div>

          <div class="task-controler-area">
            <div class="header">Контролер</div>
            <div class="task-controler-name">Правский И.</div>

              <div class="task-controler-position">Исполнительный директор</div>

          </div>


          <div class="task-document-area">
            <div class="header">По документу</div>
            <div class="task-document" data-id="4F2597EF-5147-45D4-BA7C-49CC620C6E4E" data-name="Служебная записка №Разр-34 от 21.11.2012">Служебная записка №Разр-34 от 21.11.2012</div>
          </div>

        <div class="task-files-area">

          <a href="/file/4DFBA00B-84EC-4483-A1CE-8697CDCF7CA3" target="_blank" class="task-file-ref" data-value="4DFBA00B-84EC-4483-A1CE-8697CDCF7CA3" data-name="Проект документа.doc">Проект документа.doc</a>

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="91EFDC6D-9544-4E9B-B4C3-909CBC3493A0" data-id="18">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение от 13.12.2012, Не начато</div>
            </div>
            <div class="task-date">13.12.2012 15:22</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Правский И.</div>
            <div class="task-author-position">Исполнительный директор</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="14.12.2012">14.12.2012</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="Поручение из поиска по штрих коду, в работе">Поручение из поиска по штрих коду, в работе</div>

          <div class="task-controler-area">
            <div class="header">Контролер</div>
            <div class="task-controler-name">Захаров Е.</div>

              <div class="task-controler-position">Сотрудник</div>

          </div>


        <div class="task-files-area">

          <a href="/file/6407B6A6-5239-4696-8BDF-0A8B806C3204" target="_blank" class="task-file-ref" data-value="6407B6A6-5239-4696-8BDF-0A8B806C3204" data-name="Проект документа.doc">Проект документа.doc</a>

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="CED0C751-3595-49EF-A097-26B446BABA52" data-id="5">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение от 13.12.2012, Не начато</div>
            </div>
            <div class="task-date">13.12.2012 15:12</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Правский И.</div>
            <div class="task-author-position">Исполнительный директор</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="14.12.2012">14.12.2012</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="Поручение из поиска по штрих-коду с тремя соисполнителями">Поручение из поиска по штрих-коду с тремя соисполнителями</div>

          <div class="task-controler-area">
            <div class="header">Контролер</div>
            <div class="task-controler-name">Иванов И.</div>

              <div class="task-controler-position">Сотрудник</div>

          </div>


        <div class="task-files-area">

          <a href="/file/CE700E69-01A9-44C7-A5A7-594F76405733" target="_blank" class="task-file-ref" data-value="CE700E69-01A9-44C7-A5A7-594F76405733" data-name="Проект документа.doc">Проект документа.doc</a>

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="7049B79B-2B9A-414A-8D77-B1D721F9619E" data-id="26">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение, Не начато</div>
            </div>
            <div class="task-date">13.12.2012 00:55</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Реуцкий С.</div>
            <div class="task-author-position">Сотрудник</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="14.12.2012">14.12.2012</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="Вам поступил входящий документ № 1/41 от 13.12.2012

  Содержание документа:
  Выдача резолюции по ВД с соисполнителями и открытие его Исполнителем">Вам поступил входящий документ № 1/41 от 13.12.2012<br>
  Содержание документа:
  Выдача резолюции по ВД с соисполнителями и открытие его Исполнителем</div>

          <div class="task-controler-area">
            <div class="header">Контролер</div>
            <div class="task-controler-name">Реуцкий С.</div>

              <div class="task-controler-position">Сотрудник</div>

          </div>


          <div class="task-document-area">
            <div class="header">По документу</div>
            <div class="task-document" data-id="2F219326-875E-4D06-9C77-D6AF2B013390" data-name="Входящий документ №1/41 от 13.12.2012">Входящий документ №1/41 от 13.12.2012</div>
          </div>

        <div class="task-files-area">

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="5AC886A2-92E6-4A2D-9A99-3196F0B485F9" data-id="9">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение от 12.12.2012, Не начато</div>
            </div>
            <div class="task-date">12.12.2012 22:56</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Реуцкий С.</div>
            <div class="task-author-position">Сотрудник</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="13.12.2012">13.12.2012</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="Из состояния В работе
  ">Из состояния В работе<br></div>

          <div class="task-controler-area">
            <div class="header">Контролер</div>
            <div class="task-controler-name">Администраторов А. А.</div>

              <div class="task-controler-position">Администратор системы</div>

          </div>


        <div class="task-files-area">

          <a href="/file/8EDAAAF3-99C6-4102-BD14-FB2245C5A399" target="_blank" class="task-file-ref" data-value="8EDAAAF3-99C6-4102-BD14-FB2245C5A399" data-name="Проект документа.doc">Проект документа.doc</a>

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="78436679-08F5-4653-80E5-F88C8E359071" data-id="39">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение от 12.12.2012, Не начато</div>
            </div>
            <div class="task-date">12.12.2012 22:54</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Реуцкий С.</div>
            <div class="task-author-position">Сотрудник</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="13.12.2012">13.12.2012</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="ИЗ КИД Руководителя
  ">ИЗ КИД Руководителя<br></div>

          <div class="task-controler-area">
            <div class="header">Контролер</div>
            <div class="task-controler-name">Администраторов А. А.</div>

              <div class="task-controler-position">Администратор системы</div>

          </div>


        <div class="task-files-area">

          <a href="/file/B33A79F7-B39F-4B89-B698-BF089ACB9C5F" target="_blank" class="task-file-ref" data-value="B33A79F7-B39F-4B89-B698-BF089ACB9C5F" data-name="Проект документа.doc">Проект документа.doc</a>

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="7EB0C3EF-6AB5-45BE-AE50-421F803BC313" data-id="12">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение от 12.12.2012, Не начато</div>
            </div>
            <div class="task-date">12.12.2012 22:50</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Реуцкий С.</div>
            <div class="task-author-position">Сотрудник</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="19.12.2012">19.12.2012</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="Поручение с соисполнителями из КИД Входящие
  ">Поручение с соисполнителями из КИД Входящие<br></div>

          <div class="task-controler-area">
            <div class="header">Контролер</div>
            <div class="task-controler-name">Иванов И.</div>

              <div class="task-controler-position">Сотрудник</div>

          </div>


        <div class="task-files-area">

          <a href="/file/8EDAAAF3-99C6-4102-BD14-FB2245C5A399" target="_blank" class="task-file-ref" data-value="8EDAAAF3-99C6-4102-BD14-FB2245C5A399" data-name="Проект документа.doc">Проект документа.doc</a>

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="303FD16E-3360-4036-AF01-2F2BF637BF18" data-id="8">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение от 12.12.2012, Не начато</div>
            </div>
            <div class="task-date">12.12.2012 22:31</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Правский И.</div>
            <div class="task-author-position">Исполнительный директор</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="13.12.2012">13.12.2012</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="Распределение самим Получателем">Распределение самим Получателем</div>

          <div class="task-controler-area">
            <div class="header">Контролер</div>
            <div class="task-controler-name">Администраторов А. А.</div>

              <div class="task-controler-position">Администратор системы</div>

          </div>


        <div class="task-files-area">

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="267F136B-BCE3-42CB-8E73-97FD3E2386C9" data-id="21">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение, Не начато</div>
            </div>
            <div class="task-date">12.12.2012 22:17</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Реуцкий С.</div>
            <div class="task-author-position">Сотрудник</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="19.12.2012">19.12.2012</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="Поручение выдано из КИД руководителя, из состояния В работе">Поручение выдано из КИД руководителя, из состояния В работе</div>

          <div class="task-controler-area">
            <div class="header">Контролер</div>
            <div class="task-controler-name">Реуцкий С.</div>

              <div class="task-controler-position">Сотрудник</div>

          </div>


          <div class="task-document-area">
            <div class="header">По документу</div>
            <div class="task-document" data-id="B61735D6-C949-4CE0-A7CC-B63EC3F8FE44" data-name="Входящий документ №1/40 от 12.12.2012">Входящий документ №1/40 от 12.12.2012</div>
          </div>

        <div class="task-files-area">

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="B997D666-B47B-40A9-B452-CB527B8DFDB4" data-id="29">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение от 11.12.2012, Не начато</div>
            </div>
            <div class="task-date">11.12.2012 14:28</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Реуцкий С.</div>
            <div class="task-author-position">Сотрудник</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="12.12.2012">12.12.2012</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="5 соисполнителей - выдал заместитель">5 соисполнителей - выдал заместитель</div>

          <div class="task-controler-area">
            <div class="header">Контролер</div>
            <div class="task-controler-name">Иванов И.</div>

              <div class="task-controler-position">Сотрудник</div>

          </div>


        <div class="task-files-area">

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="436467D0-25B2-4E19-9A9C-D0D4861065CF" data-id="30">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение, Не начато</div>
            </div>
            <div class="task-date">09.12.2012 17:07</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Правский И.</div>
            <div class="task-author-position">Исполнительный директор</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="11.12.2012">11.12.2012</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="Теперь выдаю уже из распределенного поручения напрямую от получателя">Теперь выдаю уже из распределенного поручения напрямую от получателя</div>

          <div class="task-controler-area">
            <div class="header">Контролер</div>
            <div class="task-controler-name">Правский И.</div>

              <div class="task-controler-position">Исполнительный директор</div>

          </div>


          <div class="task-document-area">
            <div class="header">По документу</div>
            <div class="task-document" data-id="55ACCE02-86A5-4C56-95E0-2A73420DD15A" data-name="Входящий документ №1/39 от 09.12.2012">Входящий документ №1/39 от 09.12.2012</div>
          </div>

        <div class="task-files-area">

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="92E92DB5-3CCF-4CAF-9E30-500A6A13CC65" data-id="13">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение от 09.12.2012, Не начато</div>
            </div>
            <div class="task-date">09.12.2012 17:01</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Реуцкий С.</div>
            <div class="task-author-position">Сотрудник</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="11.12.2012">11.12.2012</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="Еще одна попытка поручений с соисполнителями из КИД Руководителя">Еще одна попытка поручений с соисполнителями из КИД Руководителя</div>

          <div class="task-controler-area">
            <div class="header">Контролер</div>
            <div class="task-controler-name">Захаров Е.</div>

              <div class="task-controler-position">Сотрудник</div>

          </div>


        <div class="task-files-area">

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="56418DEA-C941-41F4-A936-F46DD7909D22" data-id="38">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение, Не начато</div>
            </div>
            <div class="task-date">12.11.2012 16:36</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Правский И.</div>
            <div class="task-author-position">Исполнительный директор</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="13.11.2012">13.11.2012</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="Поиск по номеру документа">Поиск по номеру документа</div>

          <div class="task-controler-area">
            <div class="header">Контролер</div>
            <div class="task-controler-name">Реуцкий С.</div>

              <div class="task-controler-position">Сотрудник</div>

          </div>


          <div class="task-document-area">
            <div class="header">По документу</div>
            <div class="task-document" data-id="4BD9F952-733D-43D3-AFDC-10659B3B8904" data-name="Входящий документ №1/33 от 12.11.2012">Входящий документ №1/33 от 12.11.2012</div>
          </div>

        <div class="task-files-area">

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="6E08E125-35FA-4392-AE33-8C56BDA21A24" data-id="16">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение от 09.11.2012, Не начато</div>
            </div>
            <div class="task-date">09.11.2012 16:38</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Администраторов А. А.</div>
            <div class="task-author-position">Администратор системы</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="09.11.2012">09.11.2012</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="Устное поручение с сотрудником На ознакомление">Устное поручение с сотрудником На ознакомление</div>


        <div class="task-files-area">

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="EB90646D-8A00-4050-B428-6806C5FA3B83" data-id="14">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение от 08.11.2012, Не начато</div>
            </div>
            <div class="task-date">08.11.2012 13:49</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Сидоренков А.</div>
            <div class="task-author-position">Генеральный директор</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="15.11.2012">15.11.2012</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="ewrtt">ewrtt</div>


        <div class="task-files-area">

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="2D46272C-8849-444E-A70A-DF6D911E9866" data-id="31">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение от 08.11.2012, Не начато</div>
            </div>
            <div class="task-date">08.11.2012 13:40</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Администраторов А. А.</div>
            <div class="task-author-position">Администратор системы</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="09.11.2012">09.11.2012</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="Поручение по кнопке Поручить">Поручение по кнопке Поручить</div>


        <div class="task-files-area">

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="67ECB22B-5D06-46F5-8331-A0E677F2A0B9" data-id="23">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение от 24.10.2012, Не начато</div>
            </div>
            <div class="task-date">24.10.2012 12:22</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Правский И.</div>
            <div class="task-author-position">Исполнительный директор</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="25.10.2012">25.10.2012</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="Будет ли запись в таблице?">Будет ли запись в таблице?</div>


        <div class="task-files-area">

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="C06E50E5-FAB5-4E58-A8D5-912D977FB6AE" data-id="19">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение, Не начато</div>
            </div>
            <div class="task-date">23.10.2012 17:33</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Правский И.</div>
            <div class="task-author-position">Исполнительный директор</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="24.10.2012">24.10.2012</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="Отправка уведомления по порту 465">Отправка уведомления по порту 465</div>

          <div class="task-controler-area">
            <div class="header">Контролер</div>
            <div class="task-controler-name">Правский И.</div>

              <div class="task-controler-position">Исполнительный директор</div>

          </div>


        <div class="task-files-area">

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="985FD100-CCAE-4986-AE9C-0F85659A7AB5" data-id="3">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение, Не начато</div>
            </div>
            <div class="task-date">23.10.2012 17:04</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Правский И.</div>
            <div class="task-author-position">Исполнительный директор</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="25.10.2012">25.10.2012</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="1">1</div>

          <div class="task-controler-area">
            <div class="header">Контролер</div>
            <div class="task-controler-name">Правский И.</div>

              <div class="task-controler-position">Исполнительный директор</div>

          </div>


        <div class="task-files-area">

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="ED66059B-CA2C-4188-9410-C30438BAA2F6" data-id="27">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение, Не начато</div>
            </div>
            <div class="task-date">18.10.2012 13:15</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Правский И.</div>
            <div class="task-author-position">Исполнительный директор</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="23.10.2012">23.10.2012</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="Вам поступил входящий документ № 1/18 от 18.10.2012

  Содержание документа:
  Проверка распределения ВД с соисполнителями">Вам поступил входящий документ № 1/18 от 18.10.2012<br>
  Содержание документа:
  Проверка распределения ВД с соисполнителями</div>

          <div class="task-controler-area">
            <div class="header">Контролер</div>
            <div class="task-controler-name">Правский И.</div>

              <div class="task-controler-position">Исполнительный директор</div>

          </div>


        <div class="task-files-area">

          <a href="/file/58178114-EBE2-4868-BF01-9E191F770D87" target="_blank" class="task-file-ref" data-value="58178114-EBE2-4868-BF01-9E191F770D87" data-name="Протокол №1-2-Н от 20.03.2012.xml">Протокол №1-2-Н от 20.03.2012.xml</a>

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="9F59ABE9-33B3-4C1C-8339-EC8A2606855A" data-id="36">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение от 18.10.2012, Не начато</div>
            </div>
            <div class="task-date">18.10.2012 12:57</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Захаров Е.</div>
            <div class="task-author-position">Сотрудник</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="23.10.2012">23.10.2012</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="Вам поступил входящий документ № 1/18 от 18.10.2012

  Содержание документа:
  Проверка распределения ВД с соисполнителями">Вам поступил входящий документ № 1/18 от 18.10.2012<br>
  Содержание документа:
  Проверка распределения ВД с соисполнителями</div>

          <div class="task-controler-area">
            <div class="header">Контролер</div>
            <div class="task-controler-name">Богданов Д.</div>

              <div class="task-controler-position">Сотрудник</div>

          </div>


        <div class="task-files-area">

          <a href="/file/58178114-EBE2-4868-BF01-9E191F770D87" target="_blank" class="task-file-ref" data-value="58178114-EBE2-4868-BF01-9E191F770D87" data-name="Протокол №1-2-Н от 20.03.2012.xml">Протокол №1-2-Н от 20.03.2012.xml</a>

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="7E9A7C2D-3897-415D-B81B-F9C15FA7F324" data-id="41">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение, Не начато</div>
            </div>
            <div class="task-date">11.10.2012 16:55</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Правский И.</div>
            <div class="task-author-position">Исполнительный директор</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="18.10.2012">18.10.2012</div>
            <div class="task-deadline-time" data-value="18:00">до 18:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="Проверка переназначения задания">Проверка переназначения задания</div>


        <div class="task-files-area">

          <a href="/file/295104ED-985B-4C90-AF8F-A6F24D0BA7B2" target="_blank" class="task-file-ref" data-value="295104ED-985B-4C90-AF8F-A6F24D0BA7B2" data-name="Входящий документ 1-9.docx">Входящий документ 1-9.docx</a>

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>

      <div class="task-area" data-task-id="E13821B5-6A42-4560-B8B8-EDE50E2AF078" data-id="37">
        <div class="task-area-header">
          <div class="task-subject-area">
            <div class="task-subject">
              <div>Поручение от 17.01.2012, Не начато</div>
            </div>
            <div class="task-date">27.01.2012 13:00</div>
          </div>
          <div class="task-author-area">
            <div class="header">Автор</div>
            <div class="task-author-name">Администраторов А. А.</div>
            <div class="task-author-position">Администратор системы</div>
          </div>

          <div class="task-deadline-area">
            <div class="header">Срок исполнения</div>
            <div class="task-deadline-date" data-value="27.01.2012">27.01.2012</div>
            <div class="task-deadline-time" data-value="13:00">до 13:00 часов</div>
          </div>

        </div>
        <div class="task-content" data-value="1231234">1231234</div>


        <div class="task-files-area">

    <div class="breaker"></div>
        </div>
        <div class="task-actions-area">

    <div class="task-actions">
      <a class="task-action-delegate" href="#">Распределить</a>
      <a class="task-action-complete" href="#">Завершить</a>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
        </div>
      </div>
    </div>
    </div>
