<nav class="navbar navbar-fixed-top">
    <div class="container"></div>
</nav>
<main class="container">
  <aside>
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Мне сделать</div>
        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item">Исполняемые лично</li>
          <li class="list-group-item">На приемку</li>
          <li class="list-group-item">Длительные поручения</li>
          <li class="list-group-item">На согласование</li>
          <li class="list-group-item">На подписание</li>
          <li class="list-group-item">На ознакомление</li>
        </ul>
      </div>
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Отслеживание</div>
        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item">Выданные мной</li>
          <li class="list-group-item">Выданные мной(длительные)</li>
          <li class="list-group-item">Распределены</li>
        </ul>
      </div>
  </aside>
  <section>
    <%= render "static_pages/test_task_list" %>
  </section>
</main>