<div class="performer-quick-block">
  <div class="performer-image" style="background-image: url(<%= performer.has_photo? ? employee_photo_path(performer.id) : image_path("person.png") %>);">
  </div>
  <div class="performer-last-name">
    <%= performer.LastName %>
  </div>
  <div class="performer-first-name">
    <%= performer.FirstName %>
  </div>
</div>
