// .tabs {
// 	position: absolute;
// 	top: 2em;
// 	left: 0em;
// 	right: 0em;
// 	bottom: 0em;
// 	margin: 0.5em;

// }

// .tabs-header {
// 	height: 1.53em;
// 	border-bottom: 0.1em solid black;
// }

// .tabs-header div {
// 	float: left;
// 	border-top: 0.1em solid black;
// 	border-left: 0.1em solid black;
// 	border-right: 0.1em solid black;
// 	border-bottom: 0.2em solid white;
// 	height: 1em;
// 	padding: 0.16em 0.2em 0.2em 0.2em;
// }

// .tab {
// 	position: absolute;
// 	top: 1.63em;
// 	left: 0;
// 	right: 0;
// 	bottom: 0;
// 	border-left: 0.1em solid black;
// 	border-right: 0.1em solid black;
// 	border-bottom: 0.1em solid black;
// 	padding: 0.5em;
// 	overflow: scroll;
// }

.row {
	overflow: hidden;
	padding: 0.5em 2em;
	text-align: left;
	
	.field-value {
		width: 100%;
		padding: 0px;

		input {
			width: 100%;
			margin: 0px;
			border: 1px solid #34AADC;
			padding: 2px 3px;
			display: block;
			box-sizing:border-box;
		}

		input.date-picker {
			width: 100%;
		}
		
		textarea {
			height: 5em;
			border: 0px;
			display: block;
			box-sizing:border-box;
			width: 100%;
			border: 1px solid #34AADC;
			resize: none;
		}
	}
}

.ui-datepicker-trigger {
	margin-left: -20px;
	margin-top: 5px;
}

.ui-button.custom-combobox-toggle {
	height: 100%;
	margin: 0px 0px;
}

.lookup-container {
	width: 100%;
	position: relative;
	margin: 0px;
	padding: 0px;
}

.lookup-container input {
	border: 0px;
}

.edit-actions {
	position: absolute;
	right: 0.05em;
	top: 1px;
	bottom: 1px;
}

.edit-actions a.ui-button {
	width: 1.2em;
	border: 0px;
}

.row-group-container {
	display: block;
	position: relative;
	margin: 0em 2em;
}

.row-group {
	display: table;
	width: 100%;

	.row {
		display: table-row;

		label {
			display: table-cell;
			width: 1px;
			float: none;
			vertical-align: top;
			padding: 0.5em 0em;
			white-space: nowrap;
			color: #34AADC;
			font-weight: bold;
		}

		.field-value {
			display: table-cell;
			width: 100%;
			padding: 0.5em 0em 0.5em 1em;
		}
	}
}

