.token { 
	display: inline-block;
	margin: 3px;
	padding: 0px 5px;
	background-color: #FDEBDC;
	color: #5F5F5F;
	font-size: 1.3em;
	transition: background-color 0.1s;

	.close {
		font-size: 1.3em;
		text-decoration: none;
		color: #888;
		font-weight: bold;
		margin-left: 15px;
		user-select: none;
		outline: none;
		transition: color 0.1s;
		cursor: pointer;
		opacity: 1;
	}

	.close:active {
		padding-top: 1px;
		outline: none;
	}

	.close:hover {
		color: #444;
		opacity: 1;
	}
}

.token.selected {
	background-color: #FDEBDC;

/*	.close {
		color: black;
	}

	.close:hover {
		color: black;
	}*/
}

.token:hover {
 	.close {
		color: #444;
		opacity: 1;
 	}
 }

.inline-edit-control {
	display: inline-block;
	outline: none;
	border: none;
	margin: 2px 3px;
	padding: 3px;
	// background-color: blue;
	// color: yellow;
}

.form-edit-control {
	width: 100%;
	border: 1px solid #34AADC;
	background: white;
}

.form-edit-control.active {
	background: #F9F9D9;
	border-color: #2984AA;

	.token { 
		background-color: #FDEBDC;
	}

	.token.selected {
		background-color: #FDEBDC;

	/*	.close {
			color: black;
		}

		.close:hover {
			color: black;
		}*/
	}
}

.row {
	overflow: hidden;
	padding: 0.5em 2em;
	text-align: left;
	
	.field-value {
		width: 100%;
		padding: 0px;

		.inline-edit-control {
			display: inline-block;
			outline: none;
			border: none;
			margin: 2px 3px;
			padding: 3px;
			background-color: transparent;
			// background-color: blue;
			// color: yellow;
		}
	}
}