@import "variables";
@import "bootstrap";
@import "test";
@import "style";


$group-color: #F7F7F7;
$fore-color: #333;
$new-color: #f0f0f0;
$dim-level: .25;
$border-dim-level: .9;
$performing-color: #F7C6A3;
$group-gradient-level: 10%;
$gradient-level: 0%;
$outline-color: rgba(0,0,0,.3);
$new-dim-level: .05;
$informational-color: #C8D9A6;
$issued-color: #A5D6E2;
$main-color: #595959;


body {
	font-family: Verdana, Tahoma, serif;
}

.app-area {
	background-color: $back-color;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	z-index: -2;
	color: $main-color;
	min-width: 800px;
	max-width: 1100px;
}

.logo-bar {
	/* position: absolute; */
	/* width: 4.3em; */
	/* height: 4.3em; */
	background-color: #FFF;
	/* left: 0.5em; */
	/* top: 2.1em; */
	border-radius: 8px;
	cursor: pointer;
	float: left;
	margin-top: 5px;
	padding-top: 5px;
	padding-bottom: 2px;
	img {
		width: 4em;
		height: 4em;
		margin: 0.1em;
	}
}

.header-bar {
	// width: 100%;
	// height: 5.7em;
	overflow: hidden;
}

.task-info {
	width: 100%;
	top: 9em;
}

.task-summary {
	float: right;
	list-style: none;
	padding: 0;
	margin: 0;
}

.task-summary li {
	padding: 0;
	margin: 1em 0.2em;
	float: left;
	background-color: white;
}

.task-summary li .header {
	display: none;
}

// .task-summary .total {
// 	display: table-cell;
// 	text-align: center;
// 	vertical-align: middle;
// 	width: 2em;
// 	height: 2em;
// }
.header-actions {
	margin-left: 15px;
}
.header-actions ul {
	list-style: none;
	margin-top: 3%;
	padding: 0;
	// height: 2em;
}

.header-actions ul {
	li {

		// float: left;
		border: 1px solid transparent;
		// margin: 1em 0em;
		// padding: 0.2em;
		// height: 2em;

		a {
			color: #696969;
			height: 2em;
			vertical-align: middle;
			display: table-cell;
			font-weight: bold;
			text-decoration: none;
			font-size: 0.9em;
		}
	}

	li:hover {
		border-color: #D9E7FF;
	}
}

.user-control {
	// margin: -1em 0em -1em 0em;
	border: 1px solid #DDD;
	border-radius: 10px;
	background-color: white;
}

.user-photo {
	// height: 80%;
	// margin-left: 10px;
	// margin-top: 10px;
	// margin-right: 10px;
	float: left;
	height: 82px;
	padding: 10px;
}

.user-control a {
	display: table-cell;
	height: 2em;
	vertical-align: middle;
	padding: 0.5em 0.2em;
}

.user-control .user-info {
	margin-top: 10px;
	margin-bottom: 10px;
}

.user-name {
	font-weight: bold;
}

.user-position {
	font-size: 0.8em;
	font-style: italic;
}

.task-info > .header {
	display: none;
}

.task-info ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: none;
}

.task-info-group > div {
	border: 1px solid transparentize($fore-color, $border-dim-level);
	border-radius: 8px;
}

.task-info-group-performing > .header,
.task-info-group-issued > .header {
	background-color: $group-color;
	//background: linear-gradient(to right, $group-color, mix(white, $group-color, $group-gradient-level));
	padding: 0.5em 0.5em;
	color: transparentize($fore-color, $dim-level);
	//border: 1px solid transparentize($fore-color, $border-dim-level);
	border-radius: 8px;
	font-weight: bold;
	margin: 0.5em;
}

.task-info-group > ul {
	list-style: none;
	margin: 0 -1em;
	padding: 0;
	font-weight: bold;
	padding: 0.5em;
	margin: 0;
	overflow: hidden;
}

.task-info-item {
	float: left;
	width: 33.333333333%;
	cursor: pointer;
}

.task-info-item > div {
	border: 1px solid transparentize($fore-color, $border-dim-level);
	font-weight: bold;
	color: transparentize($fore-color, $dim-level);
	position: relative;
	height: 6em;
}

// .task-info-performing, .task-info-to_accept {
// 	background-color: $performing-color;
// 	/*background: linear-gradient(to right, $performing-color, mix(white, $performing-color, $gradient-level));*/
// }

// .task-info-long_tasks, .task-info-informational, .task-info-to_approve, .task-info-to_sign {
// 	background-color: $informational-color;
// 	/*background: linear-gradient(to right, $informational-color, mix(white, $informational-color, $gradient-level));*/
// }

// .task-info-issued, .task-info-long_issued, .task-info-delegated {
// 	background-color: $issued-color;
// 	/*background: linear-gradient(to right, $issued-color, mix(white, $issued-color, $gradient-level));*/
// }

.task-info-item .header {
	overflow: hidden;
	text-overflow: ellipsis;
	height: 2.5em;
	padding: 0.5em;
}

.task_info__item .total {
	// position: absolute;
	// bottom: 0.6em;
	// right: 0.8em;
	font-weight: bold;
	padding-left: 10px;
}

.task_info__item .new {
	opacity: 0;
}

.task_info__item .new.non-zero {
	opacity: 1;
	font-weight: bold;
	color: $new-color;
	// position: absolute;
	// bottom: 0.8em;
	// right: 1.2em;
   	text-shadow:
    	-1px -1px 0 $outline-color,
    	1px -1px 0 $outline-color,
    	-1px 1px 0 $outline-color,
    	1px 1px 0 $outline-color;
}

.task_info__item .icon {
	position: absolute;
	left: 0.3em;
	bottom: 0.3em;
	width: 4em;
	height: 4em;
	background-repeat: no-repeat;
	background-position: left bottom;
}

.task-info-performing .icon {
	background-image: asset-url("performing.png", image);
}

.task-info-to_accept .icon {
	background-image: asset-url("to_accept.png", image);
}

.task-info-to_approve .icon {
	background-image: asset-url("to_approve.png", image);
}

.task-info-to_sign .icon {
	background-image: asset-url("to_sign.png", image);
}

.task-info-long_tasks .icon {
	background-image: asset-url("long_tasks.png", image);
}

.task-info-informational .icon {
	background-image: asset-url("informational.png", image);
}

.task-info-issued .icon {
	background-image: asset-url("issued.png", image);
}

.task-info-long_issued .icon {
	background-image: asset-url("long_issued.png", image);
}

.task-info-delegated .icon {
	background-image: asset-url("delegated.png", image);
}

.task-info-item.single-line {
	float: none;
	width: 100%;
}

.task-info-item.single-line > div {
	height: 3em;
}

.task-info-item.single-line > div > .icon {
	display: none;
}

.task-info-item.single-line .header {
	margin: 0.2em 4em 0.5em 0.5em;
	padding: 0px;
}

.task-info-item.single-line > div > .new.non-zero {
	top: 0.1em;
	bottom: auto;
}

.window-link {
	width: 1px;
	padding: 0 0.5em;
}

.task-info-grid {
	height: 3em;
	margin: -0.5em 0.5em;
	width: 0em;
	opacity: 0;
	cursor: pointer;
}

.data-area {
	// position: absolute;
	// left: 280px;
	// top: 6em;
	// right: 0.5em;
	// bottom: 0em;
	position: relative;
	background: #F8F8F8;
	border: 1px solid #EEE;
	padding: 10px;
	opacity: 0;
	z-index: -1;
	overflow-y: auto;
	overflow-x: hidden;
}

#task-shadow {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
	z-index: 1;
	background-image: image_url("ajax-loader.gif");
	background-repeat: no-repeat;
	background-position: center center;
}

#task-list {
	// position: absolute;
	// left: 0.1em;
	// top: 0.1em;
	// bottom: 0.1em;
	// padding: 0.5em;
	opacity: 0;
	// width: 100%;
}

.task-area {
	overflow: hidden;
	border: 1px solid #DDD;
	margin-bottom: 1em;
	margin-right: 1em;
	background-color: #FFF;
	position: relative;
}

.task-subject-area {
	background-color: #999;
	color: #EEE;
	padding: 0.2em 0.5em;
}

.task-subject {
	margin-right: 10em;

	div {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.task-date {
	float: right;
	width: 9.5em;
	margin-top: -1.12em;
}

.task-author-area {
	float: left;
	width: 60%;
}

.task-deadline-area {
	float: left;
	width: 40%;

	.header {
		text-align: right;
		padding-right: 0.6em;
		font-size: 0.9em;
		font-weight: bold;
		color: #222;
		padding-top: 0.5em;
	}
}

.task-deadline-date {
	float: right;
	padding-right: 0.5em;
	font-size: 1.1em;
	font-weight: bold;
	padding-left: 0.4em;
}

.task-deadline-time {
	float: right;
	font-size: 0.9em;
	padding-top: 0.3em;
}

.task-content {
	clear: both;
	padding: 0.5em;
	min-height: 3em;
}

.task-area-header {
	height: 5.5em;
	overflow: hidden;
}

.task-area.selected {
	height: auto;
	border: 1px solid #18187E;
	background-color: #FFFFE0;
	.task-subject-area {
		background-color: #18187E;
		color: #FFF;
	}
	.task-content {
		height: auto;
	}
}

.task-author-area {
	.header {
		padding-top: 0.2em;
		padding-left: 0.6em;
		font-weight: bold;
		color: #ADADFF;
		font-size: 0.9em;
	}
	.task-author-name {
		font-weight: bold;
		padding-left: 0.5em;
	}
	.task-author-position {
		font-style: italic;
		font-size: 0.8em;
		padding-left: 0.7em;
	}
}

.task-controler-area {
	.header {
		padding-top: 0.1em;
		padding-left: 0.6em;
		font-weight: bold;
		color: #76DD62;
		font-size: 0.9em;
		padding-bottom: 0.2em;
		float: left;
	}
	.task-controler-name {
		padding-left: 0.5em;
		float: left;
	}
	.task-controler-position {
		font-style: italic;
		font-size: 0.8em;
		padding-left: 0.1em;
		padding-top: 0.15em;
		float: left;
	}
	.task-controler-position:before {
    	content: ", ";
   	}
}

.task-delegated-area {

	.header {
		padding-top: 0.1em;
		padding-left: 0.6em;
		font-weight: bold;
		color: #76DD62;
		font-size: 0.9em;
		padding-bottom: 0.2em;
		float: left;
	}

	.task-delegated {
		float: left;
	}

}

.task-document-area {
	clear: both;
	padding-top: 0.5em;

	.header {
		padding-top: 0.2em;
		padding-left: 0.6em;
		font-weight: bold;
		color: #76DD62;
		font-size: 0.9em;
		padding-bottom: 0.2em;
		float: left;
	}
	.task-document {
		padding-left: 1em;
		float: left;
		text-decoration: underline;
		padding-top: 0.1em;
		color: #00F;
	}
}

.task-files-area {
	clear: both;
	padding-top: 0.5em;

	a {
		display: block;
		float: left;
		margin: 0.5em;
		padding: 0.2em 0.5em;
		background: #DDD;
		color: #222;
		text-decoration: none;
		border-radius: 2px;
		border: 1px solid #DDD;
		max-width: 16em;
		text-overflow: ellipsis;
		overflow: hidden;
//		white-space: nowrap;
	}
	a:hover {
		border: 1px solid #CCC;
		background: #E4E4E4;
		color: #111;
	}
}

.task-actions-area {
	border-top: 2px solid #CCC;
	overflow: hidden;
	height: 2.5em;
	margin: 0em 0.5em;
}

.task-actions, .task-actions-apply {
	float: right;
	margin: 0.5em 0em;
	a {
		display: block;
		float: left;
		padding: 0.2em 0.5em;
		margin: 0em 0em 0em 0.5em;
		background-color: #DDD;
		color: #222;
		text-decoration: none;
		border-radius: 2px;
		border: 1px solid #DDD;
	}
	a:hover {
		border: 1px solid #CCC;
		background: #E4E4E4;
		color: #111;
	}
}

.breaker {
	clear: both;
}

.create-task-area {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(100, 100, 100, 0.5);
	z-index: 10;
}

.create-task-area > div {
	position: relative;
	top: 1em;
	bottom: 3em;
	max-width: 900px;
	margin: auto;
	text-align: center;
}

.task-complete-area {
	height: 0em;
	margin: 0em 0.5em;
	overflow: hidden;

	.border {
		border-top: 2px solid #CCC;
	}

	.header { 
		margin-top: 0.5em;
		font-weight: bold;
		font-size: 0.9em;
		color: #ADADFF;
	}

	.task-comments-area {
		width: 100%;
		height: 5em;
		margin: 0.5em 0em;

		textarea {
			box-sizing: border-box;
			width: 100%;
			height: 6em;
			border: 1px solid #9BAAFD;
			resize: none;
		}
	}

	.task-files-container {
		height: 7em;
		background-color: white;
		border: 1px solid #9BAAFD;

		.task-files {
			height: 7em;
		}
	}
}

.task-action-lid {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(157, 157, 157, 0.45);
	display: none;
	width: 100%;
	height: 100%;

	.task-action-cell {
		display: block;
		text-align: center;
		position: absolute;
		width: 100%;
		bottom: 8em;

		.task-action-box {
			border: 2px solid #009ABC;
			background-color: #F1F8FA;
			padding: 0.5em;
			display: inline-block;
			border-radius: 5px;
			font-size: 1.5em;

			.task-action-error {
				font-size: 0.5em;
				width: 30em;
				text-align: left;
				margin: 1.5em 0em 0.5em 0em;
				overflow: hidden;
				max-height: 10em;
			}

			.task-action-progress {
				margin-top: 0.5em;
			}

			.task-action-close {
				display: inline-block;
				border: 1px solid transparent;
				font-size: 0.7em;
				padding: 0.3em 0.5em;
				text-decoration: none;
				color: #444;
			}
			
			.task-action-close:hover {
				border-color: #34AADC;
			}

			.task-action-close:active {
				background-color: #E3E9EA;
			}
		}
	}
}
