$main-border: #A6A6A6;
$blue-back: #F1F8FA;

.form-window {
	background-color: #F1F8FA;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

#task-main {
	background-color: #F1F8FA;
}

.task-header-bar {
	height: 4.2em;
	background-color: #34AADC;
	font-family: Calibri, sans-serif;
	color: #F2F2F2;
	
	.task-author-control {
		float: right;
		font-size: 1.1em;
		margin: 0.5em;
	}

	img {
		float: right;
		height: 3em;
		padding: 0px 10px;
	}
	
	.task-author-name {
		font-weight: bold;
	}

	.task-author-first-name {
		font-weight: normal;
		font-size: 0.8em;
	}

	.task-author-position {
		font-size: 0.8em;
		float: right;
		font-style: italic;
	}

	.task-author-info {
		float: left;
	}

	.title {
		font-size: 1.5em;
		padding: 0.6em 1em;
		font-weight: bold;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: left;
	}
}

.performer-quick-list {
	list-style: none;
	overflow: hidden;
	width: 100%;

	li {
		float: left;
		width: 6em;
		border: 1px solid #DDD;
		border-radius: 5px;
		margin: 0 0.4em;
		cursor: pointer;
	}

	li:hover {
		background-color: #D9E7FF;
	}

	li.pressed {
		background-color: #5B98FF;

		.performer-quick-block {
			color: #FEFEFE;
		}
	}
}

.performer-quick-block {
	color: #595959;
	margin: 0.2em;

	.performer-image {
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		height: 5em;
		margin-bottom: 0.5em;
		border-style:none;
	}

	.performer-last-name {
		font-weight: bold;
		font-size: 0.9em;
		text-align: center;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.performer-first-name {
		font-size: 0.7em;
		text-align: center;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.actors-selector {

	display: none;
	.checkbox-text {
		margin-right: 1em;
	}
	label { 
		font-weight: bold;
	}
}

.task-data-container {
	position: absolute;
	left: 0;
	right: 13em;
	top: 14.2em;
	bottom: 3.4em;
	background: white;

	.row {
		padding: 0;
		margin: 0;
	}

	.form-edit-control {
		border: 1px solid $main-border;
	}
}

.task-content-row {

	display:table-row;
	height: 100%;
	width:100%;

	.task-content-row-scroll {
		width: 100%;
		height: 100%;
		padding: 0;
		overflow-y: scroll;
		background: white;
		border: 1px solid $main-border;
		border-bottom: 0px;
		border-left: 0px;
		padding: 6px;
	}
}

.task-content {
	.field-value {
		position: relative;

		textarea {
		    box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    -ms-box-sizing: border-box;
		    -webkit-box-sizing: border-box;
		    border: none;
		    outline: none;
			font-size: 1em;
		    height: 100%;
		    overflow: hidden;
		    position: absolute;
		    width: 100%;
		    overflow: hidden;
		}

		.text-area-copy {
		    box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    -ms-box-sizing: border-box;
		    -webkit-box-sizing: border-box;
		    padding: 6px;   /* Same border+padding as text area. */
		    padding-bottom: 1.15em; /* A bit more than one additional line of text. */ 
		    visibility: hidden;
		    width: 100%;
		}
	}
}

.task-action-area {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 3.4em;
	border-top: 1px solid $main-border;
	background-color: $blue-back;

	.task-actions {
		margin: 0;

		.task-action {
			float: left;
			margin: 0.6em 1em 0.4em 1em;
		}

		.task-action.task-action-cancel {
			float: right;
		}

		a { 
			text-indent: 0px;
			width: auto;
			text-align: center;
			padding: 0.3em 1.2em;
		}

		a.task-send {
			border: 1px solid #6699FF;
			background-color: #6699FF;
			color: #F7F9FF;
			text-decoration: none;
		}

		a.task-send:hover {
			border-color: #5E93FF;
			background-color: #84ADFF;
		}

		a.task-send:active {
			background-color: #84ADFF;
		}

		a.task-cancel {
			border: 1px solid #A5A5A5;
			background-color: #A5A5A5;
			color: #F2F2F2;
			text-decoration: none;
		}

		a.task-cancel:hover {
			border-color: #7A7A7A;
			background-color: #B0B0B0;
		}

		a.task-cancel:active {
			border-color: #7A7A7A;
			background-color: #B0B0B0;
		}

		.task-action-add-file {
			border-left: 1px solid $main-border;
			margin-left: 0em;
		}

		a.task-add-file {
			background-image: image-url('attach.png');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
			display: block;
			margin: 0.3em;
			height: 1.6em;
			width: 1.6em;
			text-indent: -9999px;
		}

		input {
			display: none;
		}
	}
}

.task-deadline-area {
	position: absolute;
	width: 13em;
	right: 0em;
	top: 14.2em;
	bottom: 3.4em;
	overflow: hidden;
	background: white;

	.task-deadline {
		padding: 0;
		margin: 0;
		width: 100%;

		input {
			width: 100%;
			border: 1px solid $main-border;
			border-left: 0px;
			border-bottom: 0px;
			height: 2em;
			font-size: 1em;
			margin-bottom: 1px;
			outline: none;
		}
	}
}

.date-picker,.date-picker-2 {

	font-family: Calibri, sans-serif;
	font-size: 1em;

	.ui-widget {
		font-family: Calibri, sans-serif;
		font-size: 1em;
	}

	.ui-datepicker-inline {
		width: auto;
	}

	.ui-widget-content {
		//height: 9.1em;
		border: 1px solid #A6A6A6;
		border-left: 0px;
		border-radius: 0;
		background: white;
	}

	.ui-state-default {
		color: #666;
	}

	.ui-state-hover { 
		background: transparent;
		border: 1px solid #E2D2C5;
		color: #222;
	}

	.ui-state-active { 
		background: #FDEBDC;
		color: #222;
		border: none;
	}

	.ui-datepicker-header {
		background: none;
		border-radius: 0;
		border: none;
		font-weight: normal;
		//font-size: 0.6em;
	}

	.ui-datepicker-calendar {
		border: none;
		//font-size: 0.6em;
		background: white;

		th {
			padding: 0.1em 0.2em;
			border: none;
			background: none;
			color: #222;
		}

		td {
			border: none;
			background: none;
			padding: 0em 0.2em;
			background-color: white;

 			a {
				padding: 0em 0.1em;
				text-align: center;
				font-weight: normal;
 			}
		}
	}
}

.date-picker {
	.ui-widget-content {
		border-bottom: 0px;
	}
}

.date-picker-2 {
	.ui-datepicker-prev,.ui-datepicker-next {
		display: none;
	}
}

.unset.date-picker, .unset.date-picker-2 {
	.ui-state-active {
		background: none;
		border: none;
		color: #222;
	}
}

.task-files-container {
	width: 100%;
	background-color: white;
}

.task-files {
	position: relative;

	input {
		position: fixed;
		top: -1000px;
	}

	.task-add-file {
		position: absolute;
		left: 0.1em;
		bottom: 0.3em;
		background-image: image_url("attach.png");
		background-repeat: no-repeat;
		background-position: left center;
		background-size: contain;
		padding: 0.5em 0.5em 0.5em 2.5em;
	}

	.task-file {
		display: table;
		padding: 0.2em;
		cursor: progress;

		.task-file-icon {
			display: table-cell;
			width: 2em;
			height: 2em;
		}

		.task-file-name-container {
			display: table-cell;
			padding: 0 0.5em;
			vertical-align: middle;
			color: #666;

			.task-file-progress {
				height: 1px;
				margin-top: -0.2em;
				width: 0;
				background-color: #D4D421;
			}
		}
	}
}

.task-sending-lid {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	display: none;
	width: 100%;
	height: 100%;

	.task-sending-cell {
		display: table-cell;
		text-align: center;
		vertical-align: middle;

		.task-sending-box {
			border: 2px solid #009ABC;
			background-color: #F1F8FA;
			padding: 0.5em;
			display: inline-block;
			border-radius: 5px;
			font-size: 1.5em;

			.task-sending-error {
				font-size: 0.5em;
				width: 30em;
				text-align: left;
				margin: 1.5em 0em 0.5em 0em;
				overflow: hidden;
				max-height: 10em;
			}

			.task-sending-progress {
				margin-top: 0.5em;
			}

			.task-sending-close {
				display: inline-block;
				border: 1px solid transparent;
				font-size: 0.7em;
				padding: 0.3em 0.5em;
				text-decoration: none;
				color: #444;
			}
			
			.task-sending-close:hover {
				border-color: #34AADC;
			}

			.task-sending-close:active {
				background-color: #E3E9EA;
			}
		}
	}
}

.performer-row {
	border: 1px solid $main-border;
	border-bottom: none;
	width: 100%;
	background: white;
	display:table-row;

	.row {
		margin-left: 150px;
	}

	.form-edit-control {
		border: none;
		background: transparent;
	}
}

.performer-row-border {
	border: 1px solid #A6A6A6;
	border-bottom: none;
	border-left: none;

	.row {
		font-size: 0.8em;
	}
}

.performer-row-header {
	float: left;
	margin: 0.5em 0.5em;
	font-weight: bold;
	font-size: 0.8em;
	color: #7A7A7A;
	margin-bottom: calc(0.5em + 1px);
}

.actor-selectors {
	float: right;
}

.actor-selector {
	float: left;
	font-size: 0.8em;
	margin: 0.5em 0.5em;
}


.task-data-table {
	display: table;
	height: 100%;
	width:100%;
}