.form-window {
	background-color: #F1F8FA;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

#task-main {
	background-color: #F1F8FA;
}

.task-header-bar {
	height: 6em;
	
	.user-control {
		float: right;
		height: 5em;
		margin: 0.5em 1em;
	}

	.title {
		font-size: 2em;
		padding: 0.8em 1em;
		font-weight: bold;
		color: #85735A;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: left;
	}
}

.performer-quick-list {
	list-style: none;
	overflow: hidden;

	li {
		float: left;
		width: 6em;
		border: 1px solid #DDD;
		border-radius: 5px;
		margin: 0 0.4em;
		cursor: pointer;
	}

	li:hover {
		background-color: #D9E7FF;
	}

	li.pressed {
		background-color: #5B98FF;

		.performer-quick-block {
			color: #FEFEFE;
		}
	}
}

.performer-quick-block {
	color: #595959;
	margin: 0.2em;

	.performer-image {
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		height: 5em;
		margin-bottom: 0.5em;
		border-style:none;
	}

	.performer-last-name {
		font-weight: bold;
		font-size: 0.9em;
		text-align: center;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.performer-first-name {
		font-size: 0.7em;
		text-align: center;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.actors-selector {
	.checkbox-text {
		margin-right: 1em;
	}

	label { 
		font-weight: bold;
	}
}

.task-content-deadline-area {
	display: table;
	width: 100%;
	margin-top: 0.5em;

	.task-bottom-area-row {
		display: table-row;
	}

	.task-content {
		display: table-cell;
		width: 100%;
		padding: 0 0.5em 0 2em;

		textarea {
			height: 10.45em;
			border: 1px solid #34AADC;
		}
	}

	.task-deadline {
		display: table-cell;
		width: 1px;
		padding: 0 2em 0 0.5em;
		vertical-align: top;

		input {
			width: 100%;
			margin: 0 0em;
			margin-bottom: 0.5em;
			border: 1px solid #34AADC;
		}
	}

	.task-files-container {
		display: table-cell;
		width: 100%;
		padding: 1em 0.5em 1em 2em;

		.task-files {
			border: 1px solid #34AADC;
			background-color: white;
			height: 7.1em;
		}
	}

	.task-action-area {
		display: table-cell;
		width: 1px;
		padding: 1em 2em 0 0.5em;
		vertical-align: top;

		a { 
			display: block;
			text-align: center;
		}

		a.task-send {
			border: 1px solid #A5C06B;
			background-color: #A5C06B;
			color: white;
			text-decoration: none;
			font-size: 1.5em;
			padding: 0.7em;
			margin: 0em 1em;
		}

		a.task-send:hover {
			border-color: green;
			background-color: #AFCC72;
		}

		a.task-send:active {
			background-color: #90A85E;
		}

		a.task-cancel {
			margin: 0.5em 2em 0em 2em;
			border: 1px solid transparent;
			color: #85735A;
			text-decoration: none;
			font-size: 1.3em;
			padding: 0.3em 0.8em;
		}

		a.task-cancel:hover {
			border-color: #34AADC;
		}

		a.task-cancel:active {
			background-color: #E3E9EA;
		}
	}
}

div.date-picker {

	.ui-datepicker-inline {
		width: auto;
	}

	.ui-widget-content {
		height: 9.1em;
		border: 1px solid #34AADC;
		border-radius: 0;
		background: white;
	}

	.ui-datepicker-header {
		background: none;
		border-radius: 0;
		border: none;
		font-size: 0.6em;
	}

	.ui-datepicker-calendar {
		border: none;
		font-size: 0.6em;
		background: white;

		th {
			padding: 0.2em 0.2em;
			border: none;
			background: none;
			color: #222;
		}

		td {
			border: none;
			background: none;
			padding: 0.1em 0.3em;
			background-color: white;

 			a {
				padding: 0.1em;
				text-align: center;
				font-weight: normal;
 			}
		}
	}
}

.unset {
	.ui-state-active {
		background: none;
		color: #2779aa;
	}
}

.task-files {
	position: relative;

	input {
		position: fixed;
		top: -1000px;
	}

	.task-add-file {
		position: absolute;
		left: 0.1em;
		bottom: 0.1em;
		background-image: url("/assets/attach.png");
		background-repeat: no-repeat;
		background-position: left center;
		background-size: contain;
		padding: 0.5em 0.5em 0.5em 2.5em;
	}

	.task-file {
		display: table;
		padding: 0.2em;
		float: left;

		.task-file-icon {
			display: table-cell;
			width: 2em;
			height: 2em;
		}

		.task-file-name-container {
			display: table-cell;
			padding: 0 0.5em;
			vertical-align: middle;

			.task-file-progress {
				height: 2px;
				margin-top: 0.3em;
				width: 0;
				background-color: #D4D421;
			}
		}
	}
}